{
  "parser": "babel-eslint",
  "env": {
    "browser": true    
  },
  "rules": {
    "linebreak-style": ["error", "windows"],    
    "no-console": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "max-classes-per-file": 0,
    "arrow-body-style": 0
  },
  "settings": {
    "import/resolver": "babel-plugin-root-import"    
  }
}