@import "../../utilities/scss_variables";

////////////////////////
// Main Component Styles
////////////////////////
.interactive-map-wrapper {
  height: 766px;
  width: 1024px;
  

  border: 2px solid black;
}

.map-layer {
  height: 100%;
  background-color: #345155;
  // All credit to this image goes to Jamie @ SimplyBackgrounds
  // https://www.deviantart.com/simplybackgrounds/art/Water-Texture-49283686
  // I did add a small filter to darken the image but is otherwise unmodified
  background: url("../../images/water_texture.jpg") no-repeat center;    
  background-size: cover;
}

.tile-layer {
  //width: 2048;
  //height: 1536;
}

.army1 {
  background-color: red;
}
.army2 {
  background-color: blue;
}
.army3 {
  background-color: green;
}