@import "../../utilities/scss_variables";

////////////////////////
// Main Component Styles
////////////////////////
.interactive-map-wrapper {
  height: 370px;
  width: 1024px;
  
  position: relative;

  border: 2px solid black;
}

.map-layer {
  //border: 11px solid black;
  background-color: #345155;
  // All credit to this image goes to Jamie @ SimplyBackgrounds
  // https://www.deviantart.com/simplybackgrounds/art/Water-Texture-49283686  
  background: url("../../images/water_texture.jpg") no-repeat center;    
  background-size: cover;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

div.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

button.full-screen {
  position: absolute;
  top: 0px;
  right: 0px;
}

.map-image {
  // width and height are being ignored here

  border: none;
  margin: 0px;
  padding: 0px;
}