/***********************************/
/* Set theme-related global styles */
/***********************************/

@import './themes/astronomy_theme.scss';
@import './themes/halloween_theme.scss';
@import './themes/forest_theme.scss';
@import './themes/ocean_theme.scss';

.theme {
  // background styles
  --bgXl: var(--themeBgXl);
  --bgLarge: var(--themeBgLarge);
  --bgMed: var(--themeBgMed);
  --bgSm: var(--themeBgSm);
  --bgAlt: var(--themeBgAlt);
  --bgHeader: var(--themeBgHeader);
  --bgColorMain: var(--themeBgColorMain);  
  --bgColorAlt: var(--themeBgColorAlt);
  --bgOpacity: var(--themeBgOpacity);
  --headerLogo: var(--themeHeaderLogo);
  //--headerCollapsedBgColor: var(--themeHeaderCollapsedBgColor)

  // font styles
  --fontFamily:  "Arvo", Times, sans-serif;
  --fontColorMain: var(--themeFontColorMain);
  --fontColorAlt: var(--themeFontColorAlt);   
  
  // border styles
  --borderColorMain: var(--themeBorderColorMain);
  --borderColorAlt: var(--themeBorderColorAlt);

  // link styles
  --linkColorMain: var(--themeLinkColorMain);
  --linkColorAlt: var(--themeLinkColorAlt);
  --linkHoverColorMain: var(--themeLinkHoverColorMain);
  --linkHoverColorAlt: var(--themeLinkHoverColorAlt);

  // button styles
  --buttonFontColor: var(--themeButtonFontColor);
  --buttonBgColor: var(--themeButtonBgColor);
  --buttonBorder: var(--themeButtonBorder);

  // menu styles
  --menuBgColor: var(--themeMenuBgColor);
  --menuItemsBgColor: var(--themeMenuItemsBgColor);
  --menuBgHoverColor: var(--themeMenuBgHoverColor);
}

