/*******************/
/* Astronomy Theme */
/*******************/

.astronomy_theme {
  --color1: #131C2D;
  --color2: #0B182C;
  --color3: #200E6E;
  --color4: #625f85;
  --color5: #484192;
  --color6: #af7ecc;
  --color7: #545A70;
  --color8: #9a9fcf;
  --color9: #DCE3EA;
  --themeBgColorMain: var(--color2);
  --bgOpacity: 0.4;
  --themeBgColorAlt: var(--color4);
  --bgXl: url('~images/backgrounds/astronomy_bg_xlarge.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgLarge: url('~images/backgrounds/astronomy_bg_large.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgMed: url('~images/backgrounds/astronomy_bg_med.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgSm: url('~images/backgrounds/astronomy_bg_sm.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgHeader: url('~images/backgrounds/astronomy_bg_med.jpg') center / cover no-repeat var(--themeBgColorMain);
  --headerLogo: url('~images/backgrounds/astronomy_logo.jpg') center / cover no-repeat var(--themeBgColorAlt);
  --headerCollapsedBgColor: var(--color4);

  /* Set global CSS variables here */
  /* ***************************** */
  // background  
  --themeBgXl: var(--bgXl);
  --themeBgLarge: var(--bgLarge);
  --themeBgMed: var(--bgMedium);
  --themeBgSm: var(--bgSmall);
  --themeBgHeader: var(--bgXl);
  --themeBgOpacity: var(--bgOpacity);
  
  --themeFontColorMain: var(--color9);
  --themeFontColorAlt: var(--color6);
  --themeLinkColorMain: var(--color6);
  --themeLinkColorAlt: var(--color5);
  --themeLinkHoverColorMain: var(--color5);
  --themeLinkHoverColorAlt: var(--color8);
  --themeBorderColorMain: var(--color1);
  --themeBorderColorAlt: var(--color5);
  --themeMenuBgColor: var(--color5);
  --themeMenuItemsBgColor: var(--color3);
  --themeMenuBgHoverColor: var(--color1);
  --themeButtonFontColor: var(--color8);
  --themeButtonBgColor: var(--color5);
  --themeButtonBorder: 5px groove var(--color7);
  --themeTextShadow: 2px 2px 2px var(--color2);
}