/*******************/
/* Astronomy Theme */
/*******************/

.astronomy_theme {
  --color1: #F8F9FA;
  --color2: #E9ECEF;
  --color3: #DEE2E6;
  --color4: #CED4DA;
  --color5: #ADB5BD;
  --color6: #6C757D;
  --color7: #495057;
  --color8: #343A40;
  --color9: #212529;
  --themeBgColorMain: var(--color2);
  --bgOpacity: 0.4;
  --themeBgColorAlt: var(--color4);
  --bgXl: url('~images/backgrounds/astronomy_bg_xlarge.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgLarge: url('~images/backgrounds/astronomy_bg_large.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgMed: url('~images/backgrounds/astronomy_bg_med.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgSm: url('~images/backgrounds/astronomy_bg_sm.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgHeader: url('~images/backgrounds/astronomy_bg_med.jpg') center / cover no-repeat var(--themeBgColorMain);
  --headerLogo: url('~images/backgrounds/astronomy_logo.jpg') center / cover no-repeat var(--themeBgColorAlt);

  /* Set global CSS variables here */
  /* ***************************** */
  // background  
  --themeBgXl: var(--bgXl);
  --themeBgLarge: var(--bgLarge);
  --themeBgMed: var(--bgMedium);
  --themeBgSm: var(--bgSmall);
  --themeBgHeader: var(--bgXl);
  --themeBgOpacity: var(--bgOpacity);
  
  --themeFontColorMain: var(--color9);
  --themeFontColorAlt: var(--color7);
  --themeLinkColorMain: var(--color8);
  --themeLinkColorAlt: var(--color5);
  --themeLinkHoverColorMain: var(--color6);
  --themeLinkHoverColorAlt: var(--color8);
  --themeBorderColorMain: var(--color7);
  --themeBorderColorAlt: var(--color 5);
  --themeMenuBgColor: var(--color5);
  --themeMenuItemsBgColor: var(--color3);
  --themeMenuBgHoverColor: var(--color1);
}