/****************/
/* Forest Theme */
/****************/
.forest_theme {
  --color1: #D8F3DC;
  --color2: #B7E4C7;
  --color3: #95D5B2;
  --color4: #74C69D;
  --color5: #74C69D;
  --color6: #74C69D;
  --color7: #2D6A4F;
  --color8: #1B4332;
  --color9: #081C15;
  --themeBgColorMain: var(--color1);
  --bgOpacity: 0.8;
  --themeBgColorAlt: var(--color9);
  --bgXl: url('~images/backgrounds/forest_bg_xlarge.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgLarge: url('~images/backgrounds/forest_bg_large.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgMed: url('~images/backgrounds/forest_bg_med.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgSm: url('~images/backgrounds/forest_bg_sm.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgHeader: url('~images/backgrounds/forest_bg_med.jpg') center / cover no-repeat var(--themeBgColorMain);
  --headerLogo: url('~images/backgrounds/forest_logo.jpg') center / cover no-repeat var(--themeBgColorAlt);
  --headerCollapsedBgColor: var(--color8);

  /* Set global CSS variables here */
  /* ***************************** */
  // background  
  --themeBgXl: var(--bgXl);
  --themeBgLarge: var(--bgLarge);
  --themeBgMed: var(--bgMedium);
  --themeBgSm: var(--bgSmall);
  --themeBgHeader: var(--bgXl);
  --themeBgOpacity: var(--bgOpacity);
  --themeHeaderCollapsedBgColor: var(--headerCollapsedBgColor);
 
  --themeFontColorMain: var(--color1);
  --themeFontColorAlt: var(--color6);
  --themeLinkColorMain: var(--color6);
  --themeLinkColorAlt: var(--color6);
  --themeLinkHoverColorMain: var(--color7);
  --themeLinkHoverColorAlt: var(--color8);
  --themeBorderColorMain: var(--color7);
  --themeBorderColorAlt: var(--color 5);
  --themeMenuBgColor: var(--color7);
  --themeMenuItemsBgColor: var(--color8);
  --themeMenuBgHoverColor: var(--color1);
  --themeButtonFontColor: var(--color7);
  --themeButtonBgColor: var(--color3);
  --themeButtonBorder: 5px groove var(--color7);
  --themeTextShadow: 2px 2px 2px var(--color9);
}