$forestBgXl: '~images/backgrounds/forest_bg_xlarge.jpg';
$forestBgL: '~images/backgrounds/forest_bg_large.jpg';
$forestBgMed: '~images/backgrounds/forest_bg_med.jpg';
$forestBgSm: '~images/backgrounds/forest_bg_sm.jpg';
$forestLogo: '~images/backgrounds/forest_logo.jpg';
$forestHeader: '~images/backgrounds/forest_bg_header.jpg';

.forest_theme {
  // pallette colours
  --color1: #D8F3DC;
  --color2: #B7E4C7;
  --color3: #95D5B2;
  --color4: #74C69D;
  --color5: #74C69D;
  --color6: #74C69D;
  --color7: #2D6A4F;
  --color8: #1B4332;
  --color9: #081C15;


  //////////////////////////////////////////////////////////////////////
  // The key values in here must not change, only the pallett selections
  //////////////////////////////////////////////////////////////////////
  
  // font styles
  --fontFamily:  "Arvo", Times, sans-serif;
  --fontColorMain: var(--color1);
  --fontColorAlt: var(--color6);
  --fontHighlightColor: var(--color5);

  // background styles
  --bgColorMain: var(--color1);  
  --bgColorAlt: var(--color9);
  --bgOpacity: 0.2;
  --bgXl: url("#{$forestBgXl}") center / cover no-repeat var(--bgColorMain);
  --bgLarge: url("#{$forestBgL}") center / cover no-repeat var(--bgColorMain);
  --bgMed: url("#{$forestBgMed}") center / cover no-repeat var(--bgColorMain);
  --bgSm: url("#{$forestBgSm}") center / cover no-repeat var(--bgColorMain);
  --bgHeader: url("#{$forestHeader}") center / cover no-repeat var(--bgColorMain);
  --headerLogo: url("#{$forestLogo}") center / cover no-repeat var(--bgColorAlt);

  // border styles 
  --themeBorderColorMain: var(--color7);
  --themeBorderColorAlt: var(--color5);
  
  // link styles
  --linkColorMain: var(--color6);
  --linkColorAlt: var(--color6);
  --linkHoverColorMain: var(--color7);
  --linkHoverColorAlt: var(--color8);
  --linkTextShadow: 2px 2px 2px var(--color9);  

  // button styles
  --buttonFontColor: var(--color7);
  --buttonBgColor: var(--color3);
  --buttonBorder: 5px groove var(--color7);

  // menu styles  
  --menuBgColor: var(--color7);
  --menuItemsBgColor: var(--color8);
  --menuBgHoverColor: var(--color1); 
}