/***************/
/* Ocean Theme */
/***************/
.ocean_theme {
  --color1: #0A0E11;
  --color2: #03192E;  
  --color3: #013257;
  --color4: #004066;
  --color5: #023E7D;
  --color6: #006287;
  --color7: #558DAD;
  --color8: #9BCAE6;
  --color9: #A9D1EA;
  --color10: #e5e9eb;
  --themeBgColorMain: var(--color1);
  --bgOpacity: 0.5;
  --themeBgColorAlt: var(--color2);
  --bgXl: url('~images/backgrounds/ocean_bg_xlarge.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgLarge: url('~images/backgrounds/ocean_bg_large.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgMed: url('~images/backgrounds/ocean_bg_med.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgSm: url('~images/backgrounds/ocean_bg_sm.jpg') center / cover no-repeat var(--themeBgColorMain);
  --bgHeader: url('~images/backgrounds/ocean_bg_med.jpg') center / cover no-repeat var(--themeBgColorMain);
  --headerLogo: url('~images/backgrounds/ocean_logo.jpg') center / cover no-repeat var(--themeBgColorAlt);
  
   /* Set global CSS variables here */
  /* ***************************** */
  // background  
  --themeBgXl: var(--bgXl);
  --themeBgLarge: var(--bgLarge);
  --themeBgMed: var(--bgMedium);
  --themeBgSm: var(--bgSmall);
  --themeBgHeader: var(--bgXl);
  --themeBgOpacity: var(--bgOpacity);

  --themeFontColorMain: var(--color10);
  --themeFontColorAlt: var(--color7);
  --themeLinkColorMain: var(--color9);
  --themeLinkColorAlt: var(--color5);
  --themeLinkHoverColorMain: var(--color7);
  --themeLinkHoverColorAlt: var(--color8);
  --themeBorderColorMain: var(--color1);
  --themeBorderColorAlt: var(--color5);
  --themeMenuBgColor: var(--color6);
  --themeMenuItemsBgColor: var(--color4);
  --themeMenuBgHoverColor: var(--color1);
  --themeButtonBgColor: var(--color5);
}