$oceanBgXl: '~images/backgrounds/ocean_bg_xlarge.jpg';
$oceanBgL: '~images/backgrounds/ocean_bg_large.jpg';
$oceanBgMed: '~images/backgrounds/ocean_bg_med.jpg';
$oceanBgSm: '~images/backgrounds/ocean_bg_sm.jpg';
$oceanLogo: '~images/backgrounds/ocean_logo.jpg';
$oceanHeader: $oceanBgMed;

.ocean_theme {
  // pallette colours
  --color1: #0A0E11;
  --color2: #03192E;  
  --color3: #013257;
  --color4: #004066;
  --color5: #023E7D;
  --color6: #006287;
  --color7: #558DAD;
  --color8: #9BCAE6;
  --color9: #A9D1EA;
  --color10: #e5e9eb;

  //////////////////////////////////////////////////////////////////////
  // The key values in here must not change, only the pallett selections
  //////////////////////////////////////////////////////////////////////
  
  // font styles
  --fontFamily:  "Arvo", Times, sans-serif;
  --fontColorMain: var(--color10);
  --fontColorAlt: var(--color7);

  // background styles
  --bgColorMain: var(--color1);  
  --bgColorAlt: var(--color2);
  --bgOpacity: 0.7;
  --bgXl: url("#{$oceanBgXl}") center / cover no-repeat var(--bgColorMain);
  --bgLarge: url("#{$oceanBgL}") center / cover no-repeat var(--bgColorMain);
  --bgMed: url("#{$oceanBgMed}") center / cover no-repeat var(--bgColorMain);
  --bgSm: url("#{$oceanBgSm}") center / cover no-repeat var(--bgColorMain);
  --bgHeader: url("#{$oceanHeader}") center / cover no-repeat var(--bgColorMain);
  --headerLogo: url("#{$oceanLogo}") center / cover no-repeat var(--bgColorAlt);

  // border styles 
  --borderColorMain: var(--color1);
  --borderColorAlt: var(--color5);

  // link styles
  --linkColorMain: var(--color6);
  --linkColorAlt: var(--color5);
  --linkHoverColorMain: var(--color7);
  --linkHoverColorAlt: var(--color8);
  --linkTextShadow: 2px 2px 2px var(--color2);
  
  // button styles
  --buttonFontColor: var(--color8);
  --buttonBgColor: var(--color6);
  --buttonBorder: 5px groove var(--color7);  

  // menu styles  
  --menuBgColor: var(--color6);
  --menuItemsBgColor: var(--color4);
  --menuBgHoverColor: var(--color1); 
}