@import '~styles/screen_dimensions.scss';

.section {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px 45px;
  border: 3px solid var(--borderColorMain);
  color: var(--fontColorMain);
  background-color: var(--bgColorAlt);
  opacity: 0.8;
  border-radius: 30px;
}

.trigger {
  display: grid;
  justify-content: center;
  font-size: 1.5em;
  padding: 7.5px 0 5px 0;
  cursor: pointer;  
}
.trigger.open  {
  margin-bottom: 15px;  
}
.content {
  margin-bottom: 20px;
}


@media screen and (max-width: $smallMaxWidth) { 
  .section {
    padding: 10px 15px;    
  } 
}

@media screen and (min-width: $mediumMinWidth) and (max-width: $mediumMaxWidth) {  
  .section {
    padding: 10px 20px;
  }
}

@media screen and (min-width: $largeMinWidth) and (max-width: $largeMaxWidth) {  

}