@import "~styles/screen_dimensions";

.container {
  width: 100%;
  display: flex;
  background: var(--bgHeader);
  padding: 10px;
  height: 90px;
}

.container.collapsed {
  padding: 0;
  display: grid;
  justify-content: center;
  height: min-content;
}

.logo-section {  
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-section.collapsed {
  display: none;
}

.home-link {
  width: 50px;
  height: 50px;
  background: var(--headerLogo);
  border-radius: 100%;
}

.options-section {    
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-section.collapsed {
  display: none;
}

.link {
  font-size: 1.5em;
  padding: 0px 7.5px;
}

.collapse-section {
  position: absolute; 
  bottom: -15px;
  left: 0px;
  width: 100%;
  height: auto;
  text-align: center;
}
.collapse-section.collapsed {
  position: relative;  
  display: flex;
  align-items: center;
  bottom: 0px;
}

.collapse-icon {   
  cursor: pointer; 
  color: var(--fontColorMain);
  font-size: 2.5em;  
}
.collapse-icon:hover {
  color: var(--fontColorAlt);
}

@media screen and (max-width: $smallMaxWidth) {   
  .home-link {
    width: 40px;
    height: 40px;
  }
  .link {
    font-size: 1em;
    padding: 0 5px;
  }
}
@media screen and (min-width: $mediumMinWidth) and (max-width: $mediumMaxWidth) {  
}
@media screen and (min-width: $largeMinWidth) and (max-width: $largeMaxWidth) {  
}