@import "~styles/global_styles";
@import "~styles/screen_dimensions";
@import "~styles/site_themes";

// header height calculations
$headerHeight: 90px;
$collapseHeaderHeight: 20px;
$collapseHeaderHeightOffset: $headerHeight - $collapseHeaderHeight;

.layout {
  width: 100%;
  height: 100%; 
  color: var(--fontColorMain);
  font-family: var(--fontFamily);    

  // site grid layout
  display: grid;  
  grid-template-rows: $headerHeight auto;
  grid-template-areas: 
    "header"
    "page_content";  
}
.layout.collapsed {
  grid-template-rows: calc(100% - #{$collapseHeaderHeight});
}

.site-header {  
  grid-area: header;
  background: var(--bgHeader);
  border-bottom: 1px solid var(--borderColorMain);
}
.site-header.collapsed {
  display: none;
}

.collapseHeaderWrapper {
  display: grid;
  justify-content: center;
}
.collapse-header {
  width: 100%;
  height: $collapseHeaderHeight;    
  position: absolute;
  top: $collapseHeaderHeightOffset;  
  display: grid;
  justify-content: center;
  align-content: center;
}
.collapse-header.collapsed {
  top: 5px;
  z-index: 1;  
  background-color: var(--borderColorMain);
}

.collapse-icon {
  font-size: 3.3em;
  cursor: pointer;
}
.collapse-icon:hover {
  color: var(--fontColorHover);
}

/* Page Content */
/* ************* */
.page-content-wrapper {
  grid-area: "page_content";
  background-color: var(--bgColorMain);

  width: 100%;
  height: 100%;
  position: relative;
  
}
.page-content-wrapper.collapsed {
  height: 100%;
  margin-top: $collapseHeaderHeight;
}

.page-content-overlay {
  position: absolute;
  top: 0px;
  height: 0px;
  width: 100%;
  height: 100%;  
  background-color: var(--bgColorMain);
  opacity: var(--bgOpacity);
}
.page-content {
  background: var(--bgXl);
  width: 100%;
  height: 100%;  
  padding: 10px;  
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;    
  overflow-y: scroll;
  overflow-x: scroll;

  display: grid;
  justify-content: center;

  // hides the scrollbar
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

/* Background Image Sizes */
/* ********************** */
@media screen and (max-width: $smallMaxWidth) {   
  .page-content{
   background: var(--bgSm);  
  }
}
@media screen and (min-width: $mediumMinWidth) and (max-width: $mediumMaxWidth) {  
  .page-content {
    background: var(--bgMed);  
  }
}

@media screen and (min-width: $largeMinWidth) and (max-width: $largeMaxWidth) {  
  .page-content {
    background: var(--bgLarge);  
  }
}



