.layout-container {
  width: 100%;
  height: 100%; 
  color: var(--fontColorMain);
  background: var(--bgLarge);
  font-family: var(--fontFamily);    

  display: flex;
  flex-direction: column;
 
}

.layout-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgColorMain);
  opacity: var(--bgOpacity);
}

.site-header {
  border-bottom: 2px solid var(--borderColorMain);
  position: relative;  
}

/* Page Content */
/* ************* */
.page-content-wrapper {  
  width: 100%;
  height: 100%;
  position: relative;  
}

.page-content {
  width: 100%;
  height: 100%;  
  padding: 10px;  
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;  

  // hides the scrollbar
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}