@import "~styles/site_themes";
@import "~styles/global_styles";
@import "~styles/screen_dimensions";

.container {
  display: flex;
  height: 30px;
}

/* DropDown menu */
/* ************* */
$dropdownWidth: 110px;
$dropdownPadding: 3px;
div.select-theme {
  width: $dropdownWidth;  
}
h5.select-theme {
  color: var(--fontColorMain);
  margin-right: 10px;
}

.drop-down {
  position: relative;
  z-index: 3;
  cursor: pointer;
  width: $dropdownWidth;
  border: 1px solid var(--borderColorMain);
}
.drop-down-placeholder{
  background-color: var(--menuBgColor);
  padding: $dropdownPadding;
}
.drop-down-menu {
  background-color: var(--menuItemsBgColor);
  padding: $dropdownPadding;
}

.theme {
  z-index: 1;
}

