.forest_theme {
  --color1: #D8F3DC;
  --color2: #B7E4C7;
  --color3: #95D5B2;
  --color4: #74C69D;
  --color5: #74C69D;
  --color6: #74C69D;
  --color7: #2D6A4F;
  --color8: #1B4332;
  --color9: #081C15;
  --bGUrlMain: url('../../images/forest-background.jpg') no-repeat center;

  --themeBgColorMain: var(--color1);
  --themeBgColorAlt: var(--color4);
  --themeBgUrlMain: var(--bGUrlMain);
  --themeFontColorMain: var(--color9);
  --themeFontColorAlt: var(--color3);
  --themeLinkColorMain: var(--color8);
  --themeLinkColorAlt: var(--color5);
  --themeLinkHoverColorMain: var(--color6);
  --themeLinkHoverColorAlt: var(--color8);
  --themeBorderColorMain: var(--color7);
  --themeBorderColorAlt: var(--color 5);
  --themeMenuBgColor: var(--color4);
  --themeMenuItemsBgColor: var(--color2);
  --themeMenuBgHoverColor: var(--color1);
}