.greyscale_theme {
  --color1: #F8F9FA;
  --color2: #E9ECEF;
  --color3: #DEE2E6;
  --color4: #CED4DA;
  --color5: #ADB5BD;
  --color6: #6C757D;
  --color7: #495057;
  --color8: #343A40;
  --color9: #212529;
  --bGUrlMain: url('../../images/black-white-background.jpg') no-repeat center;
  
  --themeBgColorMain: var(--color2);
  --themeBgColorAlt: var(--color4);
  --themeBgUrlMain: var(--bGUrlMain);
  --themeFontColorMain: var(--color9);
  --themeFontColorAlt: var(--color3);
  --themeLinkColorMain: var(--color8);
  --themeLinkColorAlt: var(--color5);
  --themeLinkHoverColorMain: var(--color6);
  --themeLinkHoverColorAlt: var(--color8);
  --themeBorderColorMain: var(--color7);
  --themeBorderColorAlt: var(--color 5);
  --themeMenuBgColor: var(--color5);
  --themeMenuItemsBgColor: var(--color3);
  --themeMenuBgHoverColor: var(--color1);
}