.pilgrim_theme {
  --color1: #E6B8A2;
  --color2: #DEAB90;
  --color3: #D69F7E;
  --color4: #CD9777;
  --color5: #C38E70;
  --color6: #B07D62;
  --color7: #9D6B53;
  --color8: #8A5A44;
  --color9: #774936;
  --bgMain: url('../../images/halloween-background.jpg') no-repeat center;

  --themeBgColorMain: var(--color1);
  --themeBgColorAlt: var(--color4);
  --themeBgMain: var(--bgMain);
  --themeFontColorMain: var(--color9);
  --themeFontColorAlt: var(--color3);
  --themeLinkColorMain: var(--color8);
  --themeLinkColorAlt: var(--color5);
  --themeLinkHoverColorMain: var(--color6);
  --themeLinkHoverColorAlt: var(--color8);
  --themeBorderColorMain: var(--color7);
  --themeBorderColorAlt: var(--color 5);
  --themeMenuBgColor: var(--color3);
  --themeMenuItemsBgColor: var(--color2);
  --themeMenuBgHoverColor: var(--color1);
}