.pilgrim_theme {
  --color1: #CBC6B1;
  --color2: #B49C7A;
  --color3: #B8A06D;
  --color4: #967047;
  --color5: #71593E;
  --color6: #594840;
  --color7: #594840;
  --color8: #594840;
  --color9: #594840;
}