/***********************************/
/* Set theme-related global styles */
/***********************************/

@import './astronomy_theme.scss';
@import './halloween_theme.scss';
@import './forest_theme.scss';
@import './ocean_theme.scss';

.theme {
  // background styles
  --bgMain: var(--themeBgMain);
  --bgAlt: var(--themeBgAlt);
  --bgColorMain: var(--themeBgColorMain);  
  --bgColorAlt: var(--themeBgColorAlt);

  // font styles
  --fontFamily:  "Arvo", Times, sans-serif;
  --fontColorMain: var(--themeFontColorMain);
  --fontColorAlt: var(--themeFontColorAlt);   
  
  // border styles
  --borderColorMain: var(--themeBorderColorMain);
  --borderColorAlt: var(--themeBorderColorAlt);

  // link styles
  --linkColorMain: var(--themeLinkColorMain);
  --linkColorAlt: var(--themeLinkColorAlt);
  --linkHoverColorMain: var(--themeLinkHoverColorMain);
  --linkHoverColorAlt: var(--themeLinkHoverColorAlt);

  // menu styles
  --menuBgColor: var(--themeMenuBgColor);
  --menuItemsBgColor: var(--themeMenuItemsBgColor);
  --menuBgHoverColor: var(--themeMenuBgHoverColor);
}

