.default_theme {
  --color1: #CAF0F8;
  --color2: #ADE8F4;
  --color3: #90E0EF;
  --color4: #48CAE4;
  --color5: #00B4D8;
  --color6: #0096C7;
  --color7: #0077B6;
  --color8: #023E8A;
  --color9: #03045E;
}