@import "../../utilities/scss_variables";

.hamburger-menu {
  height: 100%;
  width: 100%;

  // flex display
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-icon, .cancel-icon {
  width: 50px;
  height: 50px;
 
  cursor: pointer;
}
.hamburger-icon {
  color: $linkColourMain;
}
.cancel-icon {
  color: $linkColourMainHover;
  margin: 5px;
  float: right;
}

.cancel-icon-wrapper {
  align-self: end;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;  
  background-color: $mainColourContrast;
  background-image: linear-gradient(to left, $mainColourContrast , $mainColourContrastFade);

  // flex display
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.menu.hide {
  display: none;
}

.menu-items {  
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;

  border-bottom: 1px solid $borderColourMain;
}

.menu-items-wrapper {
  height: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  right: -17px; 
  overflow-y: scroll;
}

.menu-item {  
  width: 100%; 
  height: 50px;
  padding: 8px;     
  text-align: center;
  border-bottom: 1px solid $borderColourAlt;
}

.menu-item:first-of-type {
  border-top: 1px solid $borderColourAlt;
}

.menu-item h5 {
  font-size: 1.2em;
}

.menu-item:hover {
  background-color: $mainColourContrastFade;
}


/*


.menu {
  position: fixed;
  z-index: 1;
  width: 120px;    
  top: 0;

  border-color: lightgray;
  border-style: solid;
  border-top: 0px;
  border-bottom: 0px;

  display: none;
  flex-direction: column;

  background-color: #1155CC;
  
  overflow-y: scroll;
  scrollbar-width: none; //Firefox 
  -ms-overflow-style: none;  //Internet Explorer 10+
}
// this class aids in hiding the scroll bar 
.menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}



.menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0px;
}

.menuItem {  
  padding: 5px;
  width: 100%;  
  background-color: transparent;
  border-bottom: 1px solid rgba(139, 143, 151);  
  text-align: center;  
}
.menuItem:visited, .menuItem:link  {
  color: white;
}
.menuItem:first-child {
  border-top: 1px solid rgba(139, 143, 151);
}
.menuItem:hover {
  background: #eeedff;
  color: #000 !important;
}
*/
