@import "../../utilities/scss_variables";

////////////////////////
// Main Component Styles
////////////////////////
.hamburger-menu {
  display: grid;
  justify-items: center;
}

/////////////////
// Menu
/////////////////
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;  
  height: 100%;
  background-color: $mainColourContrast;
  background-image: linear-gradient(to left, $mainColourContrast , $mainColourContrastFade);
}

.menu.hide {
  display: none;
}

/////////////////
// Menu Items
/////////////////

// these 2 styles are used to hide the vertical scroll bar
.menu-items-wrapper {  
  width: 100%;
  height: 200px;  
  position: relative;
  border-bottom: 1px solid $borderColourMain;  
}
.menu-items {  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  right: -17px; 
  overflow-y: scroll;
}

.menu div:first {
  background-color: red;;
}

.menu-item {  
  width: 100%; 
  height: 50px;
  padding: 8px;       
  border-bottom: 1px solid $borderColourMain;
  cursor: pointer;

  display: grid;
  align-items: center;
}

.menu-item h5 {
  font-size: 1.2em;
}

.menu-item:hover {
  background-color: $mainColourContrastFade;
}

/////////////////
// Icons
/////////////////
div.cancel-icon {      
  display: grid;
  justify-items: end;
  border-bottom: 1px solid $borderColourMain;
}

.hamburger-icon, svg.cancel-icon {
  width: 50px;
  height: 50px;   
  cursor: pointer;
}

.hamburger-icon {
  color: $linkColourMain;
}
.cancel-icon {
  color: $linkColourMainHover; 
}

.cancel-icon-wrapper {
  align-self: end;
}