@import "../../utilities/scss_variables";

.header {
  height: 100%;
  background-color: $mainColourContrast;
  background-image: linear-gradient(to left, $mainColourContrast , $mainColourContrastFade);
  border-bottom: 1px solid $borderColourMain;  
  color: $fontColourAlt;    
  
  // flex display
  display: flex;
  align-items: center;
}

.header a {
  color: $linkColourMain;
}

a:hover {
  color: $linkColourMainHover;
  background-color: $mainColourContrastFade;
}

.logo {
  margin: 5px;
  width: 67px;
  height: 70px;  
}

.header div:nth-child(1) {
  width: 100%;
  height: 100%;
  margin: 0px;

  // flex display
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.link-section {  
  height: 100%;

  // flex display
  display: flex;
  align-items: end;
}

.link-section div:first-of-type {
  height: 50%;
}

.link-section a:last-of-type {
  border-right: 2px solid $borderColourAlt;   
}

.link {
  font-size: 1.3em;
  min-width: 120px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  border-left: 2px solid $borderColourAlt;  
   

  // flex display
  display: flex;  
  justify-content: center;  
}

.menu-section {
  width: 100%;

  // flex display
  display: none;
  justify-content: center;
  align-items: center;  
}

@media (max-width: 760px) {
  .logo-section, .link-section {
    display: none !important;
  }  
  .menu-section {    
    display: flex;
    width: 100%;
    height: 30px;
  }
}
