@import "../../utilities/scss_variables";

////////////////////////
// Main Component Styles
////////////////////////
.header {
  background-color: $mainColourContrast;
  background-image: linear-gradient(to left, $mainColourContrast , $mainColourContrastFade);
  border-bottom: 1px solid $borderColourMain;  
  color: $fontColourAlt;   
  
  // flex display
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

//////////////////
// Links
//////////////////
.link-section {  
  height: 100%;

  // flex display
  display: flex;
  align-items: end;
}

.link {
  font-size: 1.3em;  
  margin: 0px 2px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  border-left: 2px solid $borderColourAlt;     
}

.header a {
  color: $linkColourMain;
}
a:hover {
  color: $linkColourMainHover;
  background-color: $mainColourContrastFade;
}

//////////////////
// Logo
//////////////////
.logo {
  margin: 5px;
  width: 67px;
  height: 70px;  
}

/////////////////
// Hamburger Menu
/////////////////
.menu-section {  
  display: none;
  width: 100%;  
  text-align: center;
}

///////////////////////////
// Screen-width adjustments
///////////////////////////
@media (max-width: 760px) {
  .logo-section, .link-section {
    display: none;
  }  
  .menu-section {        
    display: block;    
  }
}
