@import "../../utilities/scss_variables";

////////////////////////
// Main Component Styles
////////////////////////
.layout {
  width: 100%;
  height: 100%;

  height: 100%;
  width: 100%;
  background: url("../../images/background.jpg") no-repeat center;    
  background-size: cover;

  display: grid;  
  grid-template-rows: 90px auto;
  grid-template-areas: 
    "header"
    "page_content";  
  
}

.header {
  background-color: red;
  grid-area: header;
}

// Wrapper & child to help with hiding the vertical scrollbar.
// Does not impact page scrollabilty.
.page-content-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  grid-area: "page_content";
}
.page-content {  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  right: -17px; 
  overflow-y: scroll;
}