@import "../../utilities/scss_variables";

////////////////////////
// Main Component Styles
////////////////////////
.section-header {
  display: inline-block;  
}

.text {  
  float: left;
  white-space: nowrap;
  width: max-content;
}

h1 {
  margin: 0px;
}


// Icons
////////
.icon {  
  color: $fontColourAccent;  
  float: left;
}
.scroll-icon {      
  font-size: 1.8em;  
  position: relative;
  top: 2px;
}
.sub-icon {      
  font-size: 1.2em;  
}