/* ***************************** */
/* Put all global styles in here */
/* ***************************** */
@import "./utilities/site_themes";

body {
  background-color: $bgColorMain;
  color: $fontColorMain;
  font-family: $fontFamily;
}

a, a:visited {
  color: $linkColorMain;
}

a:hover {
  color: $linkColorHover;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}