@import '~styles/screen_dimensions.scss';

.experience-container {
  width: 100%;
  height: 100%;
}

.experience-container ul {
  margin: 0 0 15px 5px;
}

.experience-header {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  color: var(--fontColorAlt);
}

.experience-header span {
  margin-left: 5px;
}

.experience-sub-header {
  width: max-content;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 2px;
  text-decoration: underline;
}

.experience-sub-section {
  margin: 5px 20px;
}

.experience-sub-section ul {
  padding-left: 25px;
}

.experience-skills,
.summary-skills {  
  margin-bottom: 4px;
}

.summary-skills span:first-of-type,
.experience-skills span:first-of-type {
  color: var(--fontColorAlt);
  margin-right: 5px;
}

@media screen and (max-width: $smallMaxWidth) {
  .experience-header { 
    font-size: 1.1em;
  }
  .experience-sub-section ul {
    padding-left: 20px;
  }
  .experience-container ul {
    padding-left: 15px;
  }
  .experience-header span {
    display: block;
    margin-left: 0px;
  }
  .experience-container li {
    margin-top: 5px;
  }
  .experience-skills span:last-of-type {
    margin-left: 2px;
  }

  .experience-sub-section {
    margin: 0 10px;
  }
  .experience-sub-header {
    margin-bottom: 2px;
  }
}
