@import "~styles/screen_dimensions";

.summary-container {
  width: 100%;
  height: 100%; 
}

.summaryHeader {
  color: var(--fontColorAlt);
}

ul.summaryList {    
  margin-top: 10px;  
}
.summaryList ul {
  margin-bottom: 10px;
  padding-left: 20px; 
}
.summaryList li {
  margin-bottom: 2px;  
}

@media screen and (max-width: $smallMaxWidth) {
  ul.summaryList {    
    margin: 7px 0 0 20px;
    padding: 0px 20px 0 0;
  }
  .summaryList ul {
    margin-bottom: 10px
  }
}

@media screen and (min-width: $mediumMinWidth) and (max-width: $mediumMaxWidth) {  
}
@media screen and (min-width: $largeMinWidth) and (max-width: $largeMaxWidth) { 
}