// pallette colours
$colour1: #00bcf4;
$colour2: #0c4ca3;
$colour3: #006cbc;
$colour4: #0c50ab;
$colour5: #00c6ff;
$colour7: #ebf9ff;
$colour8: #61aacd;

//$background colours
$backgroundColourMain: #FFF;
$backgroundColourFade: $colour4;

// link colours
$linkColourMain: $colour7;
$linkColourAlt: $colour8;

// border colours
$borderColourMain: black;


$pagePaddingLeftRight: 100px;


