.principles {
  text-align: center;
}

.principles h3 {
  margin-bottom: 10px;
}

.quote {
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  font-weight: 100;
  margin-top: 30px;  
  letter-spacing: 4px;
}

/* ****************** */
/* Medium Screen Size */
/* ****************** */
@media (max-width: 1000px) {
  .quote {
    font-size: 2.4em;
    margin-top: 20px;
  }
}

/* ****************** */
/* Small Screen Size */
/* ****************** */
@media (max-width: 480px) {
  .quote {
    font-size: 2em;
    margin-top: 20px;
  }
}