.theme-selector-container {
  display: flex;
  align-items: center;
  height: 30px;
}

.theme-selector-container h5 {
  color: var(--fontColorMain);
  margin-right: 10px;
}

/* DropDown menu */
/* ************* */
$dropdownWidth: 150px;
$dropdownPadding: 3px;

.drop-down {
  width: $dropdownWidth; 
  position: relative;
  z-index: 3;
  cursor: pointer;
  width: $dropdownWidth;
  border: 1px solid var(--borderColorMain);
}
.drop-down-placeholder{
  background-color: var(--menuBgColor);
  padding: $dropdownPadding;
}
.drop-down-menu {
  background-color: var(--menuItemsBgColor);
  padding: $dropdownPadding;
}