// Theme 1 Colours
$color0: rgb(0,0,0);
$color1: rgb(201, 202, 217);
$color2: rgb(209, 210, 249);
$color3: rgb(163, 188, 249);
$color4: rgb(119, 150, 203);
$color5: rgb(87, 100, 144);
$fontFamilyMain:  "Arvo", Times, sans-serif;;


// Site Variables
$bgColorMain: $color1;
$headerColor: $color2;
$fontColorMain: $color0;
$linkColorMain: $color4;
$linkColorHover: $color5;
$fontFamily: $fontFamilyMain

