// when setting the colours, set them in order of darkest to lightest
.default_theme {
  --color1: #CAF0F8;
  --color2: #ADE8F4;
  --color3: #90E0EF;
  --color4: #48CAE4;
  --color5: #00B4D8;
  --color6: #0096C7;
  --color7: #0077B6;
  --color8: #023E8A;
  --color9: #03045E;
}
.greyscale_theme {
  --color1: #eeeeee;
  --color2: #cccccc;
  --color3: #999999;
  --color4: #666666;
  --color5: #333333;
  --color6: #000000;
  --color7: #000000;
  --color8: #000000;
  --color9: #000000;
}
.pilgrim_theme {
  --color1: #CBC6B1;
  --color2: #B49C7A;
  --color3: #B8A06D;
  --color4: #967047;
  --color5: #71593E;
  --color6: #594840;
  --color7: #594840;
  --color8: #594840;
  --color9: #594840;
}

.theme {
  // main background colors
  --bgColorMain: var(--color1);
  --headerColor: var(--color2);

  // font styles
  --fontColorMain: var(--color6);
  --fontColorAlt: var(--color3); 
  --fontFamily:  "Arvo", Times, sans-serif;
  
  // border styles
  --borderStyle: 2px solid var(--color3);
  --borderColorAlt: var(--color4);

  // menu styles
  --menuBgMain: var(--color3);
  --menuBgAlt: var(--color2);
  --menuBgHover: var(--color1);
  
  // link styles
  --linkColorMain: var(--color5);
  --linkColorHover: var(--color4);

  // get rid of this
  --paddingPageContent: 10px;  
}

