@import "../../utilities/scss_variables";

// Main Component Styles
////////////////////////
.home {
  padding: 50px;
  
  // flex display
  display: flex;
  flex-direction: column;
}

div.home p {
  margin-top: 5px;
}

// Section Headers
//////////////////
.header {  
  display: block;
  text-align: center;
}
.header h1, .sub-section h2 {  
  text-align: center;
  white-space: nowrap;
  display: inline-block;
}
.sub-section {
  margin-top: 20px;  
}

// Icons
////////

.icon {
  position: relative;  
  color: $fontColourAccent;
  display: inline;
}
.scroll-icon {      
  font-size: 1.8em;  
  position: relative;
  top: 2px;
}
.sub-icon {      
  font-size: 1.2em;  
}

// Link Styles
//////////////
.home a {
  display: block;
  margin-top: 5px;
  width: max-content;
}
.home a:hover {
  color: $linkColourMain;
  background-color: unset;
}

// World Section
////////////////
.world-section {
  display: grid;
  height: 100%;
  row-gap: 10px;
  column-gap: 5px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "header header header image"
    "footer footer footer footer";
}
.world-item1 {
  grid-area: header;
}
.world-item2 {
  grid-area: image;
  border: 1px solid $borderColourMain;
  // TODO: replace this image
  background: url("../../images/world.png") no-repeat center;    
  background-size: cover;
}
.world-item3 {
  grid-area: footer;
}

@media(max-width: 800px) {
  .world-section {    
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: 
      "header"
      "footer";
  }

}

