@import "../../utilities/scss_variables";

////////////////////////
// Main Component Styles
////////////////////////
.map-page {
  padding: 30px;  
}

/////////////
// Page Title
/////////////
.header {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.world-map {  
  width: 100%;
  height: 100xp;

  display: inline-grid;
  justify-content: center;  
}


////////////
// Map Info
////////////
.info {
  padding: 10px;
  border: 1px solid black;
  max-height: 250px;
  background-color: lightgray;
  flex-grow: 1;

  // flex display
  display: flex;
  flex-direction: column;
}


/////////////////
// Page to small
////////////////
.page-too-small {
  display: none;  
}

.page-too-small-image { 
  margin-top: 10px; 
  height: 100px;
  background: url("../../images/keawol_empty.jpg") no-repeat center;    
  background-size: cover;
}

///////////////////////////
// Screen-width adjustments
///////////////////////////
@media(max-width: 800px) {
  
  .world-map {
    display: none;
  }
  
  .page-too-small {
    display: grid;
    width: 100%;
    justify-content: center;    
  }

}