@import "../../utilities/scss_variables";

////////////////////////
// Main Component Styles
////////////////////////
.map-page {
  padding-top: 30px;  
}

/////////////
// Page Title
/////////////
.header {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.world-map {
  display: grid;
  justify-content: center;
}



////////////
// Map Info
////////////
.info {
  padding: 10px;
  border: 1px solid black;
  max-height: 250px;
  background-color: lightgray;
  flex-grow: 1;

  // flex display
  display: flex;
  flex-direction: column;
}

///////////////////////////
// Screen-width adjustments
///////////////////////////
@media(max-width: 800px) {

}