// background colours
$mainColourBase: #ebd5b3;
$mainColourContrast: #4f2c2c;
$mainColourContrastFade: #6b3c3c;

// font colours
$fontColourMain: black;
$fontColourAlt: white;

// link colours
$linkColourMain: #e8a506;
$linkColourMainHover: #b34d09;

// border colours
$borderColourMain: #ffb300;
$borderColourAlt: #472828;