@import '~styles/screen_dimensions.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 30px; 
}

.section {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px 45px;
  border: 3px solid var(--borderColorMain);
  color: var(--fontColorMain);
  background-color: var(--bgColorAlt);
  opacity: 0.8;
  border-radius: 30px;
}

.page-options {
  width: 80%;
  display: flex;
  justify-content: center;
}

.page-option {
  margin: 0px 5px;
}

div.search-bar {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  background: lightgray;
  color: black;
}
span.search-bar {
  margin: 0 5px;
}

.search-box {
  flex-grow: 1;
}


@media screen and (max-width: $smallMaxWidth) {   
  .container {
    font-size: 0.8em;
  }
  .section {
    padding: 10px 0px;    
  } 
}

@media screen and (min-width: $mediumMinWidth) and (max-width: $mediumMaxWidth) {  
  .section {
    padding: 10px 20px;
  }
}

@media screen and (min-width: $largeMinWidth) and (max-width: $largeMaxWidth) {  

}
